In [ ]:
# Ref: https://www.youtube.com/watch?v=WGJJIrtnfpk

In [1]:
# this is a comment
print('Hi')

Hi

In [2]:
' # comments cannot be written inside string'

' # comments cannot be written inside string'

# Single - line Comments

In [3]:
# individual single line comment
a=2
b=2
a+b # inline comments

4

In [4]:
# comments in python
# multi line comments
# program to multiply two numbers
a=2
b=2

4

In [ ]:
#comments in python
#multi-line comments
#shortcut - ctrl, place cursor on each line then click on # once => it gets inserted everywhere

# Docstring Comments

In [5]:
"""
docstrings are not omitted by the interpreter
comments are omitted
"""

'\ndocstrings are not omitted by the interpreter\ncomments are omitted\n'

In [6]:
"""
docstrings are not omitted by the interpreter
comments are omitted
"""
a=1
b=2
a+b

3

In [7]:
a=1
b=2
print(a+b)
"""
docstrings are not omitted by the interpreter
comments are omitted
"""

3

'\ndocstrings are not omitted by the interpreter\ncomments are omitted\n'

# Variables and Data Types

In [9]:
x

NameError: name 'x' is not defined

In [10]:
x=10

In [11]:
y=12

In [12]:
x + y

22

In [13]:
x * y

120

In [14]:
Y # variables names in python are case-sensitive

NameError: name 'Y' is not defined

In [15]:
Y = 20

### Data Type - Numbers

In [16]:
x = 10
type(x)

int

In [17]:
x += 0.25
type(x)

float

In [18]:
x = 10j
type(x)

complex

In [20]:
num = 10 > 9
print(num)
type(num)

True

bool

### Data Type - String

In [23]:
name = 'edureka'
print(len(name))

7

In [24]:
name[2]

'u'

In [25]:
name[2] = 'd' # strings are immutable - we cannot change them

TypeError: 'str' object does not support item assignment

In [26]:
name[2:8]

'ureka'

In [27]:
name[2:7]

'ureka'

In [28]:
name[2:6]

'urek'

In [29]:
name.lower()

'edureka'

In [30]:
name[-2]

'k'

In [31]:
name[5]

'k'

### Data Type - List

In [35]:
myList = [10,20,30,30,'edureka','courses']
myList

[10, 20, 30, 30, 'edureka', 'courses']

In [36]:
myList[2:5]

[30, 30, 'edureka']

In [37]:
myList[2] = 35
myList

[10, 20, 35, 30, 'edureka', 'courses']

In [38]:
myList.append(10) # adds value at the end of the list
myList

[10, 20, 35, 30, 'edureka', 'courses', 10]

In [39]:
myList.insert(5,100) # insert value at a given index position
myList

[10, 20, 35, 30, 'edureka', 100, 'courses', 10]

In [40]:
myList.reverse()
myList

[10, 'courses', 100, 'edureka', 30, 35, 20, 10]

### Data Type - Dictionary

In [41]:
courses = {1:'python',
          2:'data sciece',
          'third':'machine learning'}
courses

{1: 'python', 2: 'data sciece', 'third': 'machine learning'}

In [42]:
courses['third']

'machine learning'

In [43]:
courses.get('third')

'machine learning'

In [45]:
courses['third'] = 'hadoop'
courses

{1: 'python', 2: 'data sciece', 'third': 'hadoop'}

In [46]:
courses['fourth'] = 'machine learning'
courses

{1: 'python',
 2: 'data sciece',
 'third': 'hadoop',
 'fourth': 'machine learning'}

In [ ]:
# Todo: Get key given value, sort,

### Data Type - Tuples

In [47]:
animals = (10, 10, 20, 'tiger', 'lion', 'rat', 'tiger')
animals[2]

20

In [48]:
animals.count('tiger') # counts the number of times tiger is present

2

### Data Type - Set

In [50]:
mySet = {10, 20, 30, 40, 40, 30, 'edureka', 'courses'}
mySet

{10, 20, 30, 40, 'courses', 'edureka'}

In [51]:
mySet[2]

TypeError: 'set' object is not subscriptable

In [52]:
range(10)

range(0, 10)

In [53]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
a = [1,2,3,4] # list
b = {4,5,6,4,6} # set
c = [a,b]
c

[[1, 2, 3, 4], {4, 5, 6}]

### Type Conversion

In [56]:
x = 10
name = 'namae'
x + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
str(x) + name

'10namae'

In [59]:
list(b) # b is a set which got converted to list

[4, 5, 6]

# Python Collections

### namedtuple

In [60]:
from collections import namedtuple
a = namedtuple('courses','name, technology')
s = a('data science', 'python')
print(s)

courses(name='data science', technology='python')

In [62]:
s = a._make(['artificial intelligence', 'python']) # list can also be used to pass values to the tuple
print(s)

courses(name='artificial intelligence', technology='python')

## deque

In [63]:
from collections import deque
a = ['e','d','u''r','e','k','a']
d = deque(a)
print(d)

deque(['e', 'd', 'ur', 'e', 'k', 'a'])

In [64]:
d.append('python')
print(d)

deque(['e', 'd', 'ur', 'e', 'k', 'a', 'python'])

In [65]:
d.appendleft('python')
print(d)

deque(['python', 'e', 'd', 'ur', 'e', 'k', 'a', 'python'])

In [66]:
d.pop()
print(d)

deque(['python', 'e', 'd', 'ur', 'e', 'k', 'a'])

In [67]:
d.popleft()
print(d)

deque(['e', 'd', 'ur', 'e', 'k', 'a'])

### Chain map : single list of multiple dictionaries

In [68]:
from collections import ChainMap
a = {1: 'edureka', 2: 'python'}
b = {3: 'ML', 4: 'AI'}

a1 = ChainMap(a,b)
a1

ChainMap({1: 'edureka', 2: 'python'}, {3: 'ML', 4: 'AI'})

### Counter

In [71]:
from collections import Counter
a = [1,1,2,3,2,2,4,5,4,5,4,3,6,2,2]
c = Counter(a) # counts the occurences of each element in the list and store it as dict={value:count}
c

Counter({1: 2, 2: 5, 3: 2, 4: 3, 5: 2, 6: 1})

In [72]:
list(c.elements()) # creates a list with all the values in the specified number of times

[1, 1, 2, 2, 2, 2, 2, 3, 3, 4, 4, 4, 5, 5, 6]

In [73]:
print(c.most_common()) # returns a list which is sorted in decreasing order of count

[(2, 5), (4, 3), (1, 2), (3, 2), (5, 2), (6, 1)]

In [74]:
sub = {2:1, 6:1}
print(c.subtract(sub))

None

In [75]:
print(c.most_common())

[(2, 4), (4, 3), (1, 2), (3, 2), (5, 2), (6, 0)]

### Ordered Dictionary

In [76]:
from collections import OrderedDict
d = OrderedDict()
d['1'] = 'e'
d['2'] = 'd'
d['3'] = 'u'
d['4'] = 'r'
d['5'] = 'e'
d['6'] = 'k'
d['7'] = 'a'
d

OrderedDict([('1', 'e'),
             ('2', 'd'),
             ('3', 'u'),
             ('4', 'r'),
             ('5', 'e'),
             ('6', 'k'),
             ('7', 'a')])

In [77]:
d.keys()

odict_keys(['1', '2', '3', '4', '5', '6', '7'])

In [78]:
d.items()

odict_items([('1', 'e'), ('2', 'd'), ('3', 'u'), ('4', 'r'), ('5', 'e'), ('6', 'k'), ('7', 'a')])

In [81]:
d['1'] = 'p'
d

OrderedDict([('1', 'p'),
             ('2', 'd'),
             ('3', 'u'),
             ('4', 'r'),
             ('5', 'e'),
             ('6', 'k'),
             ('7', 'a'),
             (1, 'p')])

### Default Dictionary

In [85]:
from collections import defaultdict
d = defaultdict(int)
d[1] = 'python'
d[2] = 'edureka'
print(d[3])

0

In [86]:
a = {1:'python', 2:'edureka'}
print(a[3])

KeyError: 3

# Array

In [87]:
import array

In [88]:
a = array.array('i', [1,2,3,4,5,6]) # first array is array module, second array is the constructor and then specify data type
a

array('i', [1, 2, 3, 4, 5, 6])

In [89]:
import array as arr

In [91]:
a = arr.array('i',[1,2,3,4,5,6])
a

array('i', [1, 2, 3, 4, 5, 6])

In [92]:
from array import *

In [93]:
a = array('i',[1,2,3,4])
a

array('i', [1, 2, 3, 4])

### Accessing Elements

In [94]:
a[2]

3

In [95]:
a[-1]

4

### Finding length of an array

In [96]:
len(a)

4

### Adding elements to an array

In [98]:
a

array('i', [1, 2, 3, 4])

In [100]:
a.append(8)
a

array('i', [1, 2, 3, 4, 8, 8])

In [101]:
a.append(9.5)

TypeError: integer argument expected, got float

In [103]:
a.extend([10,11,12,13])
a

array('i', [1, 2, 3, 4, 8, 8, 10, 11, 12, 13, 10, 11, 12, 13])

In [104]:
a.insert(2,100)
a

array('i', [1, 2, 100, 3, 4, 8, 8, 10, 11, 12, 13, 10, 11, 12, 13])

### Removing elements of an array

In [105]:
a

array('i', [1, 2, 100, 3, 4, 8, 8, 10, 11, 12, 13, 10, 11, 12, 13])

In [106]:
a.pop()

13

In [107]:
a.pop(-2)

11

In [109]:
a.pop(2)

100

In [110]:
a

array('i', [1, 2, 3, 4, 8, 8, 10, 11, 12, 13, 10, 12])

In [111]:
a.remove(8) # the first occurence of 8 is removed

In [112]:
a

array('i', [1, 2, 3, 4, 8, 10, 11, 12, 13, 10, 12])

### Array Concatenation

In [114]:
b = arr.array('i', [1,2,3,4,5])
c = arr.array('i',[6,7,8])
d = arr.array('i')
d = b+c
d

array('i', [1, 2, 3, 4, 5, 6, 7, 8])

In [115]:
# Arrays of different data types cannot be concatenated
b = arr.array('i', [1,2,3,4,5])
c = arr.array('d',[6,7,8])
d = arr.array('i')
d = b+c
d

TypeError: bad argument type for built-in operation

### Slicing an array

In [118]:
e = arr.array('i', [0,1,2,3,4,5,6,7,8,9,10])
e

array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [119]:
e[0:5]

array('i', [0, 1, 2, 3, 4])

In [120]:
e[0:-2]

array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8])

In [121]:
e[::-1] # this does not reverse an array but prints the reverse copy of the array
# this method is not preferred as it exhausts the memory

array('i', [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [122]:
e

array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

### Looping through an array

In [124]:
for x in e:
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [126]:
for x in e[0:5]:
    print(x)

0
1
2
3
4

In [127]:
temp=0
while temp<e[2]:
    print(e[temp])
    temp+=1

0
1

In [128]:
temp = 0
while temp < len(a):
    print(temp)
    temp += 1

0
1
2
3
4
5
6
7
8
9
10

# Hast Table and Hash Map

### Nested Dictionaries

In [129]:
new_dict = dict(Dave='001', Ava='002')
print(new_dict)

{'Dave': '001', 'Ava': '002'}

In [130]:
emp_details = {'Employee':{'Dave':{'ID':'001', 'Salary':'2000', 'Designation':'Team Lead'},
                          'Ava':{'ID':'002', 'Salary':'2000', 'Designation':'Team Lead'}}}
emp_details

{'Employee': {'Dave': {'ID': '001',
   'Salary': '2000',
   'Designation': 'Team Lead'},
  'Ava': {'ID': '002', 'Salary': '2000', 'Designation': 'Team Lead'}}}

### Accessing Items

In [131]:
new_dict['Dave'] # accesing value using key

'001'

In [132]:
new_dict

{'Dave': '001', 'Ava': '002'}

In [133]:
new_dict.keys()

dict_keys(['Dave', 'Ava'])

In [134]:
new_dict.values()

dict_values(['001', '002'])

In [135]:
new_dict.get('Dave')

'001'

In [136]:
for x in new_dict: # printing only keys present in dictionary
    print(x)

Dave
Ava

In [137]:
for x in new_dict.values():
    print(x)

001
002

In [138]:
for x,y in new_dict.items():
    print(x,y)

Dave 001
Ava 002

### Updating

In [140]:
new_dict['Dave'] = '004'
new_dict

{'Dave': '004', 'Ava': '002'}

### Deleting

In [141]:
new_dict.pop('Ava')
new_dict

{'Dave': '004'}

In [142]:
new_dict['Chris'] = '0020'
new_dict['Alpha'] = '8901'
new_dict

{'Dave': '004', 'Chris': '0020', 'Alpha': '8901'}

In [143]:
new_dict.popitem()

('Alpha', '8901')

In [144]:
new_dict

{'Dave': '004', 'Chris': '0020'}

In [145]:
del new_dict['Dave']
new_dict

{'Chris': '0020'}

### Converting dictionary into dataframe

In [147]:
import pandas as pd
df = pd.DataFrame(emp_details['Employee'])
print(df)

                  Dave        Ava
ID                 001        002
Salary            2000       2000
Designation  Team Lead  Team Lead

## Checking if two lists are identical

In [ ]:
# For simple lists, simple == works
# Using list.sort, collections.counter(), sum() + zip() + len(), map() and reduce()
# Ref: https://www.geeksforgeeks.org/python-check-if-two-lists-are-identical/
list1 = [1,2,3,4]
list2 = [1,2,3,4]
list1.sort()
list2.sort()

if list1 == list2:
    print(True)
else:
    print(False)